.idea

frontend/.idea
frontend/.svelte-kit
frontend/node_modules
frontend/.env
frontend/local.db
frontend/package-lock.json


backend/.idea
backend/.venv
backend/.env
backend/main.log
backend/chroma_db